html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-flow: column;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
textarea {
    flex: 1;
    display: block;
    margin: 2px 0;
    padding: 1px;
    border: 1px solid;
    resize: vertical;
}
.row-one {
    /* flex: 1; */
    display: flex;
    flex-flow: row-one;
}
.row-two {
    /* flex: 1; */
    margin-top: 10px;
    display: flex;
    flex-flow: row-two;
}
.col {
    display: flex;
    flex-flow: column;
    margin: 0px 3px;
}
.col-pointer {
    width: 40px;
    text-align: right;
}
#pointer::-moz-selection {
    background-color: blue
}
.col-input {
    flex: 1;
}
.col-stack {
    width: 30%;
    max-width: 20rem;
    min-width: 10rem
}
.col-output {
    flex: 1;
}
.col-error {
    width: 40%;
}
label {
    display: block;
    padding-left: 2px;
}
#stack, #output, #error {
    background-color: #d4dada;
}
